In [1]:
class Node:
    def __init__(self, value):
        self.val = value
        self.next = None

In [2]:
n1 = Node(1)

In [8]:
print(n1)
print(n1.val)

<__main__.Node object at 0x10b3f6810>
1

In [9]:
n2 = Node(2)
n1.next = n2 # link the two nodes

print(n2)
print(n2.val)

<__main__.Node object at 0x10b3cd0d0>
2

In [10]:
"""

n1 -> n2 -> None

"""

print(n1.next)

<__main__.Node object at 0x10b3cd0d0>

In [13]:
n3 = Node(3)
n2.next = n3

"""

the first node in a linked list is called the head. other people can access other nodes in the linked list
by using .next.

n1 -> n2 -> n3 -> None

"""

print(n2.next.val)

3

Similar to a list, but lists are stored in contiguous in memory whereas linked list are not.

In [14]:
arr = [1,2,3]
arr[1]

2

Unlike lists, you cannot index into a linked list (use []).

In [15]:
def print_linked_list(head):
    while head:
        print(head.val)
        head = head.next
        
print_linked_list(n1)

1
2
3

# Complexity Analysis

In [16]:
arr = [1,2,3]

twod_arr = [[1,2,3], [4,5,6], [7,8,9]]

for num in arr:
    print(num) # O(n)
    
for sub_arr in twod_arr:
    for num in sub_arr:
        print(num) # O(nm)

1
2
3
1
2
3
4
5
6
7
8
9

In [19]:
arr[2]

twod_arr[0][0] # O(1)

1

In [ ]:
# What if I want the nth element in a linked list?

# O(n) 

# insert a 4 between 2 and 3 in [1,2,3]
# [1,2,4,3] O(n)

# inserting a 4 between 2 and 3 in 1->2->3
# 1->2->4->3 O(1)